<!-- #リストデータを子に渡す -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component</title>
</head>
<body>
  <div id="app">
    <blog-post v-for="post in posts" :key="post.id" :post="post"></blog-post>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="js/main.js"></script>
</body>
</html>

<!-- v-bindを使うことで親コンポーネントのdataを子コンポーネントに渡す
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="inputText">
    <hello-world :message="inputText"></hello-world>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="js/main.js"></script>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Component</title>
</head>
<body>
  <div id="app">
    <p>Total Likes {{total}}</p>
    <like-component message="Like" @increment="incrementTotal"></like-component>
    <like-component message="Awesome"@increment="incrementTotal"></like-component>
    <like-component message="Great" @increment="incrementTotal"></like-component>
    <like-component @increment="incrementTotal"></like-component>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="js/main.js"></script>
</body>
</html> -->